<!-- סרגל ניווט -->
<div class="header-top"></div>

<img style="width: 10%; float: right;margin-right: 5%;" src="././../assets/לוגו1.png">

<nav class="c-main-menu" aria-labelledby="mainmenulabel">

  <ul class="c-main-menu__list">
    <li [ngClass]="{'my_class': d[0]==true}" ><a  id="1" routerLink="/home" class="c-main-menu__link"
        href="#">ראשי</a></li>
    <li  [ngClass]="{'my_class': d[1]==true}"><a id="2" routerLink="/game-online" (addplayer)="addplayer($event)" aria-current="page" class="is-magic-active c-main-menu__link" href="#"> כניסה לאונליין</a></li>
    <li ><a id="3" routerLink="/openGame" class="c-main-menu__link" href="#">התחל משחק</a></li>
    <li ><a id="4" class="c-main-menu__link" href="#">הוסף שאלון</a></li>
    <li ><a id="5" class="c-main-menu__link" href="#">משחק חדש</a></li>
    <li ><a id="6" class="c-main-menu__link" href="#">אודות</a></li>
    <li ><a id="7" routerLink="/login" class="c-main-menu__link" href="#">אזור אישי</a></li>
    <li class="c-logo"> {{namePlayer}} 
     </li>
  </ul>
</nav>



<router-outlet></router-outlet>