/* 6 */

  
div {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    display: inline;
  }
  button {
    width: 150px;
    height: 100px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 5000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin: 20px;
  }
  body {
    background: #e0e5ec;
  }  

  